<div class="row"><div class="col-md-8 col-md-offset-2"><div class="page-header" ><h4 class="">IMDB Detail<a class="pull-right" href="#/home"><button type="button" class="btn btn-default">Back to Search</button></a> </h4></div></div></div>
<div class="col-md-8 col-md-offset-2">

	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>#</th>
				<th>Movie Info</th>
				<th>IMDB Rating</th>
				<th>User Votes</th>
			</tr>
		</thead>
		<tbody>

			<tr >

				<td><img style="background-image: url('src/img/null.png');background-size:   cover;  
					background-repeat: no-repeat;
					background-position: center center; " src="{{result._source.Plot}}" height="250" width="180"></td>
					<td>
						<p class="text-primary"> <b>{{result._source.Title}}</b> ({{result._source.Year}})</p>
						<p style="font-size:13px"><span class="label label-default">{{result._source.Rating}}</span><span class="label label-default">{{result._source.Runtime}}</span> - <span ng-repeat="gn in result._source.Genre">| {{gn}}   </span>  </p>
						<p style="font-size:13px"><b>Director :</b> <span ng-repeat="dr in result._source.Director">| {{dr}}  </span>  </p>

						<p style="font-size:13px"><b>Cast :</b> <span ng-repeat="cst in result._source.Metacritic">|  {{cst}} </span>  </p>

						<p style="font-size:13px"> <span>{{result._source.FullPlot}}</span>  </p>
						<p style="font-size:13px">
							<table class="table table-striped table-hover ">	<thead>
								<tr>
									<th>Language</th>
									<th>Country</th>
									<th>Released</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{result._source.Country }}</td>
									<td>{{result._source.Awards }}</td>
									<td>{{result._source.Released}}</td>
								</tr>
							</tbody>
						</table>

					</p>
				</td>
				<td>{{result._source.imdbVotes}}</td>
				<td>{{result._source.Poster}}</td>
			</tr>


		</tbody>
	</table> 

</div>
</div>
</div>