<style type="text/css">
#AC .slider {
    width: 100%;
}

#AC .slider-selection {
    background: black;
}

#DC .slider {
    width: 100%;
}

#DC .slider-selection {
    background: black;
}

.selector button {
    width: 100%
}
</style>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h2 class="">IMDB Search Bot {{quer}}</h2></div>
    </div>
</div>
<style type="text/css">
.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

</style>
<div class="col-md-5 col-md-offset-3">
    <form ng-submit="sub()">
        <div class="input-group">
            <input type="search" ng-change="autoF()" placeholder="Search in Title, Cast, Director" ng-model="selected" typeahead="red(auto._id) as label(auto._source) for auto in autos | filter:$viewValue | limitTo:8" typeahead-focus-first='false' typeahead-wait-ms='9' class="form-control">
            <span class="input-group-btn">

            <a href="" class="btn btn-default" ng-click="sub()">Search</a>
            <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="isCollapsed = !isCollapsed">Advance Search</a></li>
                <li class="divider"></li>
                <li><a href="#/stats">IMDB Stats</a></li>
            </ul>
            </span>
        </div>
    </form>
</div>

<div collapse="isCollapsed" class="fade">
    <div class="col-md-8 col-md-offset-2">
        <legend>Advance Search</legend>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Filter Name</th>
                    <th>Filter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Genre</td>
                    <td>
                        <div class="selector" isteven-multi-select input-model="genreList" output-model="selectedGenre" button-label="icon name" item-label="icon name maker" tick-property="ticked"></div>
                    </td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>
                        <div class="selector" isteven-multi-select input-model="languageList" output-model="selectedLanguage" button-label="icon name" item-label="icon name maker" tick-property="ticked"></div>
                    </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <div class="selector" isteven-multi-select input-model="countryList" output-model="selectedCountry" button-label="icon name" item-label="icon name maker" tick-property="ticked"></div>
                    </td>
                </tr>
                <tr>
                    <td>IMDB Rating</td>
                    <td>
                        <slider id="AC" ng-model="imdb" min="0" step="0.1" max="10" range="true"></slider>
                    </td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>
                        <slider id="DC" ng-model="year" min="1900" step="1" max="2016" range="true"></slider>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button type="reset" class="btn btn-default" ng-click="resetFilter()">Reset Filter</button>
            <button type="submit" class="btn btn-primary" ng-click="saveFilter()">Save Filter and Search</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h4 class="">IMDB Results </h4></div>
    </div>
</div>
<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <blockquote>
            <small>Total {{topList.hits.total}} result found ( Took {{topList.took}} ms )</small>
        </blockquote>
        <span class="pull-right"><div class="btn-group">
  <a href="" class="btn btn-default" ng-click="toggleSort()">Sort By '{{sortType}}'</a>
  <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ng-click="sortBy('Year')">Year</a></li>
            <li><a ng-click="sortBy('imdbVotes')">IMDB</a></li>
            <li><a ng-click="sortBy('Poster')">Votes</a></li>
            <li class="divider"></li>
            <li><a ng-click="sortBy('Title')">Title</a></li>
        </ul>
    </div>
    </span>
    <div>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Movie Info</th>
                    <th>IMDB Rating</th>
                    <th>User Votes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in topList.hits.hits">
                    <td><img style="background-image: url('src/img/null.png');background-size:   cover;  
                            background-repeat: no-repeat;
                            background-position: center center; " src="{{r._source.Plot}}" height="250" width="180"></td>
                    <td>
                        <p class="text-primary"> <a href="#/detail/{{r._id}}"><b>{{r._source.Title}}</b> ({{r._source.Year}})</a></p>
                        <p style="font-size:13px"><span class="label label-default">{{r._source.Rating}}</span><span class="label label-default">{{r._source.Runtime}}</span> - <span ng-repeat="gn in r._source.Genre">| {{gn}}   </span> </p>
                        <p style="font-size:13px"><b>Director :</b> <span ng-repeat="dr in r._source.Director">| {{dr}}  </span> </p>
                        <p style="font-size:13px"><b>Cast :</b> <span ng-repeat="cst in r._source.Metacritic">|  {{cst}} </span> </p>
                        <p style="font-size:13px"> <span>{{r._source.FullPlot}}</span> </p>
                        <p style="font-size:13px">
                            <table class="table table-striped table-hover ">
                                <thead>
                                    <tr>
                                        <th>Language</th>
                                        <th>Country</th>
                                        <th>Released</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{r._source.Country }}</td>
                                        <td>{{r._source.Awards }}</td>
                                        <td>{{r._source.Released}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </td>
                    <td>{{r._source.imdbVotes}}</td>
                    <td>{{r._source.Poster}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="col-md-8 col-md-offset-2">
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" items-per-page="25" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-change="pageChange(bigCurrentPage)"></pagination>
</div>
