<nav class="navbar navbar-default" style="box-shadow: 0px 2px 9px #888888;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Egemsoft Imdb Stats</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#/home">Back to Search</a></li>
            </ul>
        </div>
    </div>
</nav>
<style type="text/css">
.myHandle {
    cursor: move;
}

.myHandle a {
    cursor: pointer;
    text-decoration: none;
}

.row {
    margin-right: 32px;
}

.panel {
    box-shadow: 0px 2px 9px #888888;
}

.mfb-component__button--child {
    background-color: black;
}

.mfb-component__button--main {
    background-color: black;
}

.mfb-component__button--child:hover {
    background-color: black;
    color: white;
}

.mfb-component__button--main:hover {
    background-color: black;
    color: white;
}
</style>
<nav mfb-menu position="br" effect="zoomin" label="Add Panel" resting-icon="ion-navicon-round" active-icon="ion-arrow-expand" toggling-method="click">
    <button mfb-button icon="ion-plus" label="Add Panel" ng-click="open()"></button>
    <button mfb-button icon="ion-archive" label="Save Dashboard" ng-click="saveBoard()"></button>
   <!-- <button mfb-button icon="ion-refresh" label="Set Default Dashboard"></button> -->
</nav>
<toaster-container></toaster-container>
<script type="text/ng-template" id="panel.html">
    <div class="modal-body">
        <div class=" well">
            <legend>Panel Editor</legend>
            <input type="text" ng-model="panelTitle" id="input" class="form-control" placeholder="Panel Title">
            <br/>
            <select class="form-control" name="fields" ng-model="chartModel">
                <option value="Metacritic">Actors</option>
                <option value="Director">Directors</option>
                <option value="Year">Movie/Year</option>
                <option value="Awards">Movie/Country</option>
                <option value="Genre">Genre</option>,
                <option value="Country">Language</option>
            </select>
            <br/>
            <select class="form-control" name="charts" ng-model="chartTyp">
                <option value="BarChart">Bar Chart</option>
                <option value="PieChart">Pie Chart</option>
                <option value="LineChart">Line Chart</option>
                <option value="GeoChart">Geo Chart</option>
            </select>
            <br/>
            <select style="color:white" class="form-control label-{{panelColor}}" name="color" ng-model="panelColor">
                <option class="label-default" value="default">Default</option>
                <option class="label-primary" value="primary">Primary</option>
                <option class="label-success" value="success">Success</option>
                <option class="label-warning" value="warning">Warning</option>
                <option class="label-danger" value="danger">Danger</option>
            </select>
            <br/>
            <select class="form-control" name="size" ng-model="panelSize">
                <option value="col-md-4">Small</option>
                <option value="col-md-6">Medium</option>
                <option value="col-md-12">Large</option>
            </select>
            <br/>
            <button type="button" class="btn btn-default pull-right" ng-click="addChart(chartModel,chartTyp,panelSize,panelColor,panelTitle)" style="  box-shadow: 0px 2px 9px #888888;">Add Chart</button>
        </div>
    </div>
</script>
<br/>

<div class="row">
    <ul ui-sortable="sortableOptions" ng-model="charts" style="list-style: none;">
        <li ng-repeat="a in charts" class="{{a[2]}}">
            <div class="panel panel-{{a[3]}}">
                <div class="panel-heading myHandle">
                    <h3 class="panel-title">{{a[4]}} <a ng-click="removeChart($index)" class="pull-right">&#10006</a></h3>
                </div>
                <div class="panel-body">
                    <div google-chart chart="a[1]" style="{{a[1].cssStyle}}" />
                </div>
            </div>
</div>
</li>
</ul>
</div>
